*{
    margin : 0;
    padding : 0;
}

body{
    font-family: Arial, sans-serif;
   background : url('recurly.png');
    background-repeat : no-repeat;
     background-size : cover;
     background-attachment: scroll;
     background-position : center;
     background-clip: padding-box;
     background-origin : border-box;
   min-height: 100vh;
   background-color : rgb(220 ,220 , 220);
    display: flex;
    /* justify-content : center;
    align-items : center; */
    font-family: "Source Sans 3", sans-serif;
    
   
}

.container {
    width :50vh;
    height : 65vh;
    border-radius : 3vh;
    margin-left: 30vh;
    margin-top: 18vh;
    background-color : inherit;
    box-shadow : 10px 10px 20px rgba(0,0,0,0.2),
                -10px , -10px , 20px rgba(255 ,255 ,255 ,0.8);
}

.top{
    text-align :center;
    margin-bottom : 10vh;

}

.top span{
    position : relative;
    font-weight : bold;
    font-size : 3vh;
    top : 30px;
    letter-spacing : 0.1em;
}

.inputBox{
    width : 40vh;
    display : flex;
    border-radius : 4vh;
    height : 6vh;
    
    align-items : center;
    margin-left : 4.5vh;
    justify-content : space-around;
    margin-bottom :5vh;
    margin-left : 4.5vh;
    box-shadow : 5px 5px 10px rgba(0,0,0,0.1),
               -5px -5px 10px rgba(255 , 255, 255 ,0.6);
}

.inputBox:focus-within{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
        -5px -5px 10 rgba(255,255,255,0.5),
        5px 5px 10px rgba(0,0,0,0.1),
        -5px -5px 10 rgba(255,255,255,0.5);
    outline: 0.5vh solid rgba(255,255,255, 0.42);
}

.input{
    height : 4vh;
    width  : 30vh;
    margin-left : -2vh;
    border : none;
    outline  : none;
    background-color : inherit;
}
.input1{
    height : 4vh;
    width  : 30vh;
    margin-left : -2vh;
    border : none;
    outline  : none;
    background-color : inherit;
}

form{
    text-align : center;
}

.submit{
   
    height: 6vh;
    width : 12vh;
    border :none;
    border-radius : 5vh;
    background-color: rgba(40,40,40,0.2);
    cursor: pointer;
    box-shadow: 4px 4px 4px 5pxrgba(0,0,0,0.3),
        -4px -4px 5px rgba(255,255,255,0.7);
    font-weight: bold;
}

.submit:hover{
    outline: 0.5vh groove rgba(255,255,255,0.7);
}

.user{
    margin-top: 4vh;
}

.user span{
    margin-left: 1vh;
    font-size: 3vh;
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.inputBoxBack{
    height: 5vh;
}

.containerFront{
    position: absolute;
    z-index: 2;
    transition: 2s ease-in-out;
}

.containerBack{
    transition: 2s ease-in-out;
    position: absolute;
    z-index: 1;
    transform: rotateY(180deg);

}
